/* need this in main css file to see tailwind edits */
@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.displayed-movie{
  display: flex;
  align-items: center;
  margin: 30px;
}

.movie-info {
  text-align: center;
  padding: 30px
}

form {
  margin-bottom: 30px;
}

input {
  width: 300px;
  height: 40px;
  margin-left: 40px;
}

.enter-btn {
  width: 100px;
  height: 40px;
  margin-left: 10px;
}